<form method="POST" action="/add">
    <label>
        <input name="name" type="text" placeholder="Title">
    </label>
    <button type="submit">Submit</button>
</form>

    <button class='button success'>add</a>
</form>

</div>