<main class = "content px-3 py-4">
    <div class="container-fluid">
        <div class = "mb-3">
            <h3 class="fs-4">Profile Dashboard</h3>
            <div class="row">
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h5 class="mb-3 text-center">Delete Cards from database</h5>
                            <div class="flex one ">
                                
                                    
                                        <input name="nameField" type="text" placeholder="Title">
                                   
                                    <input type="submit" value="add pokemon">
                                </form>
                    
                                   
                                </form>
                    
                            </div>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h5 class="mb-3 text-center">My Wishlist</h5>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h5 class="mb-3 text-center">Liked Cards</h5>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>