<section class="form-main">
    <div class="container mt-0">
      <h1 class="contact-header">Contact Us</h1>
      <form class="row g-3">
        <div class="col-md-6">
          <label for="first-name" class="form-label">First Name</label>
          <input type="text" class="form-control" id="first-name" required>
        </div>
        <div class="col-md-6">
          <label for="last-name" class="form-label">Last Name</label>
          <input type="text" class="form-control" id="last-name" required>
        </div>
        <div class="col-md-8">
          <label for="email-add" class="form-label">Email</label>
          <input type="email" class="form-control" id="email-add" required>
        </div>
        <div class="col-md-4">
          <label for="mobile" class="form-label">Contact Number</label>
          <input type="text" class="form-control" id="mobile">
        </div>
        <div class="col-md-12 mb-5">
          <label for="text" class="form-label">Enter your query</label>
          <textarea class="form-control" style="overflow:auto;resize:none;"id="text" row="4" ></textarea>
        </div>
        <div class="col-md-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
    <div class="container mt-2">
      <h5 class="reply-tag">Replies in 3-5 business days...</h5>
    </div>
    <div class="overflow-hidden" style="max-height: 40vh;">
      <div class="">
        <img src="img/sleepy-boy.png" class="mx-auto d-block img-fluid" alt="Example image" loading="lazy">
      </div>
    </div>
  </section>