<div class="container">
  <form onsubmit="return false;" id="form">
      <div class="row">
          <div class="col-md-6">
              <div class="form-group">
                  <label for="email">Email address</label>
                  <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email" autocomplete="off" required>
                  <small id="emailHelp" class="form-text text-muted"></small>
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" autocomplete="off" required>
              </div>
          </div>
      </div>
      <div class="alert alert-danger" role="alert" id="error" style="display: none"></div>
      <div class="alert alert-success" role="alert" id="success" style="display: none"></div>
      <button type="submit" class="btn btn-dark mt-4">Log In</button>
      
  </form>
  <script src="js/login.js"></script>
</div>
