<header class = "premium-banner-header pt-5 pb-5">
    <div class = "container">
        <div class = "premium-banner">
            <h1 class="premium-title text-center pb-3">
                Join Premium
            </h1>
            <p class = "premium-text text-center pb-5">
                Get all the benefits with your premium subscription.
            </p>
            <div class="row justify-content-center pb-5">
                <div class="col-md-3">
                  <div class="card border-0">
                    <div class="card-body text-center ">
                      <h5 class="card-title text-center ">Billed Monthly</h5>
                      <p class="card-text pb-3 text-center">$3.99/month</p>
                      <a href="#" class="btn btn-dark bsb-btn-3xl rounded-pill btn-lg">Join</a>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">
                  <div class="card border-0">
                    <div class="card-body text-center">
                      <h5 class="card-title text-center">Billed Yearly</h5>
                      <p class="card-text pb-3 text-center">$3.00/month</p>
                      <a href="#" class="btn btn-dark bsb-btn-3xl rounded-pill btn-lg">Join</a>
                    </div>
                  </div>
                </div>
              </div>


            </div>
            


            
        </div>
    </div>
  </header>
  <!--END OF CARDS-->
<main class = "page-content">
    <div class = "container">
        <table class="table">
            <thead>
              <tr>
                <th scope="col-lg-4"></th>
                <th scope="col-lg-4"></th>
                <th scope="col-lg-2">Free</th>
                <th scope="col-md-8">Premium</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row"></th>
                <td>Add Cards/variants to your collection</td>
                <td>2 unique variants per card</td>
                <td>Unlimited</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Manage your collection by card language and condition</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
          
                
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Price Trends and Insights</td>
                <td>No</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Access to a Wide Range of Cards</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Exclusive Deals and Discounts</td>
                <td>No</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Customizable Want Lists</td>
                <td>No</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Priority Customer Support</td>
                <td>Yes</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Ad-Free Experience</td>
                <td>No</td>
                <td>Yes</td>
              </tr>
              <tr>
                <th scope="row"></th>
                <td>Limited Edition Releases</td>
                <td>No</td>
                <td>Yes</td>
              </tr>
            </tbody>
          </table>
    </div>
</main>
<!--END OF PREMIUM TABLE-->
<div id="faq-banner">
  <div class="container text-center pt-5 pb-5">
    <div class=banner-content>
      <p class=faq-banner >
        <a href="#">You can find out about our premium terms here.</a>
      </p>
      <p class="reach-out-text text-center">
        Further information can be found at our <a href="/FAQ">FAQ.</a> Else, please <a href="/contact">contact us</a>
      </p>
    </div>
  </div>
</div>