<main class = "content px-3 py-4">
    <div class="container-fluid">
        <div class = "mb-3">
            <h3 class="fs-4 text-center">Profile Dashboard</h3>
            <div class="row">
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h3 class="mb-3 text-center">My Cards</h3>
                            <div class="flex one ">
                                
                                    
                                <a href="/profile/viewCollection" class="btn btn-dark shadow-none d-flex justify-content-md-center">View Collection</a>
                                <a href="/profile/addTocollection" class="btn btn-dark shadow-none d-flex justify-content-md-center mt-4">Add to Collection</a>
                                <a href="/profile/removeFromcollection" class="btn btn-dark shadow-none d-flex justify-content-md-center mt-4">Delete from Collection</a>
                                   
                                    
                                </form>
                    
                                   
                                </form>
                    
                            </div>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h5 class="mb-3 text-center">My Wishlist</h5>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span>
                                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12d col-md-4">
                    <div class="card border-0">
                        <div class="card-body py-4">
                            <h5 class="mb-3 text-center">Liked Cards</h5>
                            <p class="mb-2 fw-bold"></p>
                            <div clas="mb-0">
                                <span class="badge text-success me-2"></span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>